<template>
  <div class="heat-map">
    <div ref="map" v-bind:style="{ width: width, height: height }"></div>
  </div>
</template>

<script>
/* global H */
export default {
  name: "HeatMap",
  data() {
    return {
      map: {},
      platform: {},
      markers: []
    };
  },
  props: {
    width: String,
    height: String
  },
  created() {
    this.platform = new H.service.Platform({
      apiKey: process.env.VUE_APP_HERE_API_KEY
    });
  },
  mounted() {
    const defaultLayers = this.platform.createDefaultLayers();

    this.map = new H.Map(
      this.$refs.map,
      defaultLayers.vector.normal.map,
      {
        center: new H.geo.Point(24.500, -103.000),
        zoom: 5.5,
        pixelRatio: window.devicePixelRatio || 1
      }
    );
    window.addEventListener('resize', () => this.map.getViewPort().resize());
    const behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(this.map));  // eslint-disable-line
    const ui = H.ui.UI.createDefault(this.map, defaultLayers);  // eslint-disable-line
  }
}
</script>
