<template>
  <div id="app">
    <p>Components for Vue</p><h3>ecus</h3>
    <HeatMap width="100%" height="650px" />
  </div>
</template>

<script>
import HeatMap from './components/HeatMap.vue'

export default {
  name: 'App',
  components: {
    HeatMap
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
